.gallery-li {
	text-align: center;
}
.gallery-list-btn {
  border: 2px solid #FF4136;
  border-radius: 16px;
}
.gallery-list-img {
	width: 400px;
	height: 400px;
}
.post-list-hr {
  width: 60%;
  margin: 2em 0;
  border-bottom: 1px solid #ccc;
}
