---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
              <div class="text-left">
                <a class="btn zoombtn" href="{{site.url}}">
                    <i class="fa fa-home"> 主页</i>
                </a>
                <div class="pull-right">
                  <ul class="dropdown-menu">
                    <li><a href="#">技术</a></li>
                    <li><a href="#">家祺k</a></li>
                    <li><a href="#">篮球</a></li>
                  </ul>
                </div>
              </div>
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <h5>{{ page.subtitle }}</h5>
                </div>
                <div class="post-list">
                    {% for post in site.posts %}
                        {% if post.gallery == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.excerpt }}</p>
                            <div class="post-list-meta">
                              <span class="post-list-time">{{ post.date | date_to_string }}</span>
                              <span> • </span>
                              <span class="post-list-tag">{{ post.tags[0] }}</span>
                              <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn post-list-btn">
                                <span class="term"><i class="fa fa-eye"></i> 继续阅读</span>
                              </a>
                            </div>
                            <hr class="post-list-hr" />
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script type="text/javascript">
      var techBtn = $('.tech');
      var lifeBtn = $('.life');
      techBtn.on('click', function() {
        $(this).hide();
        lifeBtn.show();
      });
      lifeBtn.on('click', function() {
        $(this).hide();
        techBtn.show();
      });
    </script>
</body>
</html>
